html {
  height: 100vh;
}

body {
  height: 100vh;
  margin-top: 12px;
}

body > div {
  height: 100vh;
}

.breadcrumb a {
  color: #20a8d8;
}

.breadcrumb li.is-active a {
  color: #73818f;
}

.menu-label {
  color: #fff;
  font-weight: 500;
}

.menu-list a {
  color: #fff;
}

.menu-list a.is-active {
  background-color: #3a4248;
}

.menu-list a:hover {
  background-color: #20a8d8;
  color: #fff
}

.menu-list > li > a > span.icon {
  float: right;
  display: inline;
}

.permissions {
  margin-bottom: -10px;
}

.permissions > .tag:not(:last-child) {
  margin-right: 10px;
}

.permissions > .tag {
  margin-bottom: 10px;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu > div:not(:last-child) {
  margin-bottom: 1em;
}

tr > th, td {
  white-space: nowrap;
  text-align: center!important;
  vertical-align: middle!important;
}